name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Build project
        run: ./_build.sh

      - name: Run project without root
        run: ./_run.sh

      - name: Run project with root
        run: ./_run.sh -a

  windows-build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install node packages
        run: npm install

      - name: Build project
        run: _build.bat
        shell: cmd

      - name: Run project
        run: _run.bat
        shell: cmd
